# PROJECT 1: NASA Turbofan Jet Engine Data Set

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

We will start importing the datasets:

In [4]:
train_FD001=pd.read_csv('datasets/train_FD001.txt', sep=' ', header=None);
train_FD001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20631 non-null  int64
 1   1       20631 non-null  int64
 2   2       20631 non-null  float64
 3   3       20631 non-null  float64
 4   4       20631 non-null  float64
 5   5       20631 non-null  float64
 6   6       20631 non-null  float64
 7   7       20631 non-null  float64
 8   8       20631 non-null  float64
 9   9       20631 non-null  float64
 10  10      20631 non-null  float64
 11  11      20631 non-null  float64
 12  12      20631 non-null  float64
 13  13      20631 non-null  float64
 14  14      20631 non-null  float64
 15  15      20631 non-null  float64
 16  16      20631 non-null  float64
 17  17      20631 non-null  float64
 18  18      20631 non-null  float64
 19  19      20631 non-null  float64
 20  20      20631 non-null  float64
 21  21      20631 non-null  int64
 22  22      20631 non-null  int64
 23  23      20631 non-null  float64
 24  24      20631 non-null  float64
 25  25      20631 non-null  float64
 26  26      0 non-null      float64
 27  27      0 non-null      float64
dtypes: float64(24), int64(4)
memory usage: 4.4 MB

In [5]:
try:
    train_FD001=train_FD001.drop(columns=[26,27])
except:
    None

In [6]:
columns_name=['unit_number','time_in_cycles',
              'setting_1','setting_2','setting_3',] + \
              [f's_{i}' for i in range(1,22)]

train_FD001.columns=columns_name
train_FD001

,unit_number,time_in_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [7]:
train_FD001.std()

unit_number       2.922763e+01
time_in_cycles    6.888099e+01
setting_1         2.187313e-03
setting_2         2.930621e-04
setting_3         0.000000e+00
s_1               0.000000e+00
s_2               5.000533e-01
s_3               6.131150e+00
s_4               9.000605e+00
s_5               1.776400e-15
s_6               1.388985e-03
s_7               8.850923e-01
s_8               7.098548e-02
s_9               2.208288e+01
s_10              0.000000e+00
s_11              2.670874e-01
s_12              7.375534e-01
s_13              7.191892e-02
s_14              1.907618e+01
s_15              3.750504e-02
s_16              1.387812e-17
s_17              1.548763e+00
s_18              0.000000e+00
s_19              0.000000e+00
s_20              1.807464e-01
s_21              1.082509e-01
dtype: float64

In [8]:
train_FD001.drop(columns=['setting_3', 's_1', 's_5', 's_10', 's_16', 's_18', 's_19'])

,unit_number,time_in_cycles,setting_1,setting_2,s_2,s_3,s_4,s_6,s_7,s_8,s_9,s_11,s_12,s_13,s_14,s_15,s_17,s_20,s_21
0,1,1,-0.0007,-0.0004,641.82,1589.70,1400.60,21.61,554.36,2388.06,9046.19,47.47,521.66,2388.02,8138.62,8.4195,392,39.06,23.4190
1,1,2,0.0019,-0.0003,642.15,1591.82,1403.14,21.61,553.75,2388.04,9044.07,47.49,522.28,2388.07,8131.49,8.4318,392,39.00,23.4236
2,1,3,-0.0043,0.0003,642.35,1587.99,1404.20,21.61,554.26,2388.08,9052.94,47.27,522.42,2388.03,8133.23,8.4178,390,38.95,23.3442
3,1,4,0.0007,0.0000,642.35,1582.79,1401.87,21.61,554.45,2388.11,9049.48,47.13,522.86,2388.08,8133.83,8.3682,392,38.88,23.3739
4,1,5,-0.0019,-0.0002,642.37,1582.85,1406.22,21.61,554.00,2388.06,9055.15,47.28,522.19,2388.04,8133.80,8.4294,393,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,643.49,1597.98,1428.63,21.61,551.43,2388.19,9065.52,48.07,519.49,2388.26,8137.60,8.4956,397,38.49,22.9735
20627,100,197,-0.0016,-0.0005,643.54,1604.50,1433.58,21.61,550.86,2388.23,9065.11,48.04,519.68,2388.22,8136.50,8.5139,395,38.30,23.1594
20628,100,198,0.0004,0.0000,643.42,1602.46,1428.18,21.61,550.94,2388.24,9065.90,48.09,520.01,2388.24,8141.05,8.5646,398,38.44,22.9333
20629,100,199,-0.0011,0.0003,643.23,1605.26,1426.53,21.61,550.68,2388.25,9073.72,48.39,519.67,2388.23,8139.29,8.5389,395,38.29,23.0640
20630,100,200,-0.0032,-0.0005,643.85,1600.38,1432.14,21.61,550.79,2388.26,9061.48,48.20,519.30,2388.26,8137.33,8.5036,396,38.37,23.0522

Let's create the RUL column for the dataset:

In [9]:
RUL_test_FD001=pd.DataFrame(train_FD001.unit_number.value_counts().sort_index())
RUL_test_FD001

             count
unit_number
1              192
2              287
3              179
4              189
5              269
...            ...
96             336
97             202
98             156
99             185
100            200

[100 rows x 1 columns]

In [10]:
RUL_test_FD001_2=[]

for i in range(1,len(RUL_test_FD001)+1):
    for j in range(0,RUL_test_FD001['count'][i]):
        RUL_test_FD001_2.append(RUL_test_FD001['count'][i])

pd.DataFrame(RUL_test_FD001_2)

         0
0      192
1      192
2      192
3      192
4      192
...    ...
20626  200
20627  200
20628  200
20629  200
20630  200

[20631 rows x 1 columns]